.draft-board {
  .pick-number {
    flex-basis: 5% !important;
  }

  .player-team {
    flex-basis: 7% !important;
  }

  .player-name {
    flex-basis: 50% !important;
  }

  .player-position {
    flex-basis: 7% !important;
  }

  .player-bye-week {
    flex-basis: 7% !important;
  }
}
